DB_HOST=localhost
DB_USER=root
DB_PASSWORD=0000
DB_NAME=astro2
PYTHON=.venv/bin/python3
PORT=5000
FULL_PATH=/home/in4p/git/sma/tfg-pub/Detecciones

ruta_sonificacion=/home/in4p/git/sma/tfg-pub/runtime/sonificacion
log_aplicacion=/home/in4p/git/sma/tfg-pub/runtime/logs/app-tfg.log
log_errores=/home/in4p/git/sma/tfg-pub/runtime/logs/err-tfg.log

voz_1=50
voz_2=75
voz_fragmentacion=127
voz_fondo=80
