DB_HOST=localhost
DB_USER=root
DB_PASSWORD=0000
DB_NAME=astro2
FULL_PATH=
PORT=5000
# SONIFICATION_MODE=dev

ruta_sonificacion=
log_aplicacion=
log_errores=

voz_1=50
voz_2=75
voz_fragmentacion=127
voz_fondo=80
