.animation-circle-enter {
    opacity: 0;
}

.animation-circle-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.animation-circle-exit {
    opacity: 1;
}

.animation-circle-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}