.search-circle {
    stroke-dasharray: 10, 20; /* Ajusta los valores para controlar el patrón de guiones */
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        stroke-dashoffset: 200; /* Ajusta este valor para controlar la velocidad de rotación */
    }
}

