/*

:root {
  --box-bg-color: #f9f9f9;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --button-bg-color: #007bff;
  --button-bg-hover: #0056b3;
  --button-padding: 10px 20px;
  --button-font-size: 16px;
  --button-radius: 5px;
  --button-margin-bottom: 12px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7fafc;
  padding-bottom: 50px;
  padding-top: 50px;
}


.cardx {
  width: 80%;
  border-radius: 8px;
  border: none;
  padding: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.box {
  background-color: white;
  width: auto;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.close-box {
  height: 80%;
  width: 90%;

}


.map-container {
  width: 100%;
  height: auto;
  background-color: #edf2f7;
  border-radius: 8px;

  position: relative;
}

.button {
  margin-top: auto;
  margin-bottom: var(--button-margin-bottom);
  padding: var(--button-padding);
  background-color: var(--button-bg-color);
  color: white;
  text-decoration: none;
  border-radius: var(--button-radius);
  font-size: var(--button-font-size);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2563eb;
}

.map-description {
  font-size: 1rem;  
  color: #555;  
  text-align: center;  
  margin-top: 1rem; 
  font-weight: 300; 
  line-height: 1.5;  
  padding: 0.5rem; 
  border-radius: 5px;  
  background-color: rgba(255, 255, 255, 0.8);  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  max-width: 80%;  
  margin-left: auto; 
  margin-right: auto;  
}


.map-title {
  position: absolute;
  top: 20px;
  left: 80px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 9999;
}

 

@media (max-width: 1024px) {
  .card {
    width: 90%;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .map-title {
    font-size: 18px;
    top: 10px;
    left: 80px;
  }

  .box {
    height: 400px;
  }

  .map-container {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 1rem;
  }

  .map-title {
    font-size: 16px;
    top: 5px;
    left: 60px;
  }

  .box {
    height: 500px;
  }


  .map-container {
    height: 600px;
    overflow: hidden;
  }

  .button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 0.5rem;
  }

  .map-title {
    font-size: 14px;
    top: 5px;
    left: 5%;
  }

  .box {
    height: 350px;
  }


  .map-container {
    height: 400px;
    overflow: hidden;
  }

  .button {
    font-size: 12px;
    padding: 6px 12px;
  }
}

*/